NEXT_PUBLIC_BASE_DOMAIN = base-domain

NEXT_PUBLIC_BASE_URL = base-url
NEXT_PUBLIC_AUTH_BASE_URL = auth-base-url
NEXT_PUBLIC_CDN_BASE_URL = cdn-base-url

NEXT_PUBLIC_DOMAIN = public-domain

NEXT_PUBLIC_GOOGLE_CLIENT_ID = client-id

NEXT_PUBLIC_STRIPE_PUBLISH_KEY = publishable-key

ELEVENLABS_API_KEY = elevenlabs-key

NEXT_PUBLIC_GITHUB_CLIENT_ID = github-client-id
EDGE_CONFIG_ID = ecfg_test
VERCEL_API_TOKEN = api_token
EDGE_CONFIG = @vercel/edge-config
EDGE_CONFIG_URL = https://ugen.io
